gt ( { X [-10, 50], 5 } )lt ( { Y [-10, 50], X [-10, 50] } )geq ( { X [-10, 50], 5 } )leq ( { Y [-10, 50], X [-10, 50] } )lt ( { X [-10, 50], 5 } )gt ( { Y [-10, 50], X [-10, 50] } )leq ( { X [-10, 50], 5 } )geq ( { Y [-10, 50], X [-10, 50] } )